<div class="detail-container" *ngIf="!loading">
  <!-- Back Button -->
  <button class="back-btn" (click)="back()">← Back</button>

  <!-- Error Message -->
  <div *ngIf="!loading && errorMessage" class="row min-vh-75">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <div class="alert alert-danger text-center shadow-sm">
        ⚠️ {{ errorMessage }}
      </div>
    </div>
  </div>

  <!-- Order Details -->
  <div *ngIf="order && !errorMessage; else notFound">
    <!-- Header -->
    <header class="order-header">
      <h2>Order #{{ order.orderId }}</h2>
      <p class="sub"><strong>
        Ordered : {{ order.createdAt | date:'medium' }} • Status: {{ order.status }}
      </strong></p>
    </header>
    <hr>

    <section class="section order-info">
      <strong><p>Status Updated At: {{ order.updatedAt | date:'medium' }}</p></strong>
    </section>

    <!-- Timeline -->
    <section class="section status-timeline">
      <h3>Order Progress</h3>
      <div class="timeline">
        <div
          *ngFor="let step of timelineSteps(order); let i = index"
          class="timeline-step"
          [class.done]="step.done"
        >
          <div class="dot"></div>
          <div class="label">{{ step.label }}</div>
          <div class="connector" *ngIf="i < timelineSteps(order).length - 1"></div>
        </div>
      </div>
    </section>
    <hr>

    <!-- Restaurant Info -->
    <section class="section restaurant-info">
      <h3><strong>{{ order.restaurantName }}</strong></h3>
      <p class="text-muted">📍 {{ order.restaurantLocation }}</p>
    </section>
    <hr>

    <!-- Delivery Info -->
    <section class="section delivery-info">
    <h3>Delivery Address</h3>
    <p><strong>Receiver Name:</strong> {{ order.deliveryAddress?.name }}</p>
    <p><strong>Contact Number:</strong> {{ order.deliveryAddress?.phone }}</p>
    <p><strong>Street Address:</strong> {{ order.deliveryAddress?.street }}</p>
    <p><strong>Postal Code:</strong> {{ order.deliveryAddress?.pincode }}</p>
    </section>

    <hr>

    <!-- Items -->
    <section class="section items-info">
      <h3>Items</h3>
      <div *ngFor="let item of order.items" class="item-row">
        <div class="item-left">
          <div class="item-name">{{ item.name }}</div>
          <div class="item-meta">
            Qty: {{ item.quantity }} • ₹{{ item.price | number:'1.2-2' }}
          </div>
        </div>
        <div class="item-right">
          ₹{{ (item.price * item.quantity) | number:'1.2-2' }}
        </div>
      </div>

      <!-- Total -->
      <div class="total-row">
        <div>Total</div>
        <div class="total-amount">₹{{ orderItemsTotal() | number:'1.2-2' }}</div>
      </div>
      <hr>
    </section>
  </div>

  <!-- Fallback -->
  <ng-template #notFound>
    <p *ngIf="!errorMessage">Order not found.</p>
  </ng-template>
</div>
