html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 130vh; /* full viewport height */
}

main {
  flex: 1; /* expands to fill space */
}
