<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/">🍴 FoodieExpress</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="!isLoggedIn">
          <li class="nav-item"><a class="btn nav-btn mx-2" routerLink="/login">Login</a></li>
          <!-- <li class="nav-item"><a class="btn nav-btn mx-2" routerLink="/register">Register</a></li> -->
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
          <li class="nav-item"><a class="btn nav-btn mx-2" routerLink="/restaurantlist">Restaurants</a></li>
          <li class="nav-item"><a class="btn nav-btn mx-2" routerLink="/orders">My Orders</a></li>
          <li class="nav-item">
            <a class="btn nav-btn mx-2" routerLink="/cart">
              Cart 🛒 <span class="badge bg-warning text-dark">{{ cartCount }}</span>
            </a>
          </li>
          <li class="nav-item"><a class="btn nav-btn mx-2" (click)="logout()" routerLink="/login">Logout</a></li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>